<html>
    <head>
        <title>Kiosk Checkin</title>
        <%= stylesheet_link_tag "signin.css" %>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body>
        <header>
            
        </header>

        <%= javascript_incldue_tag "signin.js" %>
    </body>
</html>