:root{
    --fontfam:sans-serif;
    --margin-horiz-main: 3rem;
    --fontsize1:1.5rem;
    --fontsize2:1rem;
    --header-color: gray; 
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
        
}

header{
    width: 100%;
    height: 10%;
    padding: 0 1rem;
    background-color: var(--header-color);
}

.userpages.abs{
    position:absolute;
    z-index:10;
    visibility: hidden;
}

.userpages{
    height: 100%;
}

.progressbar_main{
    height: 10%;
    width: 100%;
    

}

.mainpage_top{
    width: 100%;
    height: 70%;
    padding: 0 var(--margin-horiz-main);
    
}

.progressbtns{
    width: 100%;
    height: 10%;
    padding: 0 var(--margin-horiz-main);
    
    
}

.nextbtn{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progressbtns button{
    height: 50%;
    width: 5rem;
    background-color: gray;
    color:white;
    border: none;
    border-radius: 5px;
}