:root{
    font-family: sans-serif;
    
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 3vh;
}

body{
    
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
   
}

.form{
    width: 100%;
    height: 100%;
}

.progress_bar{
    
    height: 100%;
    width: 100%;
    padding: .5rem .5rem;
    display: flex;
    justify-content: center;    
}

.progress_section{
    width: 3vh;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    
}

.section{
    display: flex;
    align-items: center;
    height: 100%;
}

.section_box,.section_box.active{
    height: 100%;
    width: clamp(fit-content, 80%);
    word-wrap: break-word;
    padding: 0 .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 3px solid gray;
    border-radius: 5px;
    font-weight: bold;
    font-size: 2vh;
    
}

.connector{
    height: 5px;
    width:3rem;
    background-color: gray;
}




.section_box.active{
    background-color: blue;
    color:white;
}